In [1]:
print ("Hello people")

Hello people

In [2]:
print ("Que se dice?\nTodo erre?")

Que se dice?
Todo erre?

# Asignamos 2 a la variable x

In [3]:
x=2
print ("El valor de la variable X es", x)

El valor de la variable X es 2

In [4]:
y="el bicampeon de Colombia es La Mechita"
print ("En Colombia", y)

En Colombia el bicampeon de Colombia es La Mechita

# Ejemplo de como imprimir, con la variable en el medio de la frase

In [5]:
my_age=37
print ("Tengo", my_age, "años")

Tengo 37 años

# Tipos de variables

In [6]:
x = 1
print(x)
print(type(x))

1
<class 'int'>

In [7]:
x = 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001
print(x)
print(type(x))

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001
<class 'int'>

In [8]:
# '120' es un string

total = '120'
print(total)
print(type(total))

120
<class 'str'>

In [9]:
total = int('120')
print(total)
print(type(total))

120
<class 'int'>

In [10]:
edad = int(input('Por favor entre su edad:'))
print(edad)
print(type(edad))

Por favor entre su edad: 37

37
<class 'int'>

## Punto flotante

In [11]:
x = 1.56
print(x)
print(type(x))

1.56
<class 'float'>

## Números complejos

In [12]:
z = 3.4 + 4j
print(z)
print(type(z))

(3.4+4j)
<class 'complex'>

## Boleanas: El tipo booleano se utiliza para variables que solamente pueden ser 'True' o 'False', es decir, valores booleanos o lógicos.

In [13]:
t = True
print(t)
print(type(t))

True
<class 'bool'>

## None: Este es un tipo espceial de dato utilziado para indicar que una determinada variable no contiene ningun dato. Es muy útil en el control de muchas situaciones, porque sirve para saber si algún objeto a llegado a ser None. Mire el siguiente ejemplo.

In [14]:
b = None
print(b)
print(type(b))

z = 5

b is None

None
<class 'NoneType'>

True

## Pruebe: z is None

## Los string son expresiones que representan una cadena de caracteres, utiles para escribir mensajes y combinarlos con valores que generemos en nuestros procesamientos. Para escribi un texto en Python usamos comillas simples: '...' o comillas dobles: "...". Combinamos comillas para poner comillas adentro:

In [16]:
a='Texto simple escrito entre comillas simples'
print(a)
a

Texto simple escrito entre comillas simples

'Texto simple escrito entre comillas simples'

In [17]:
b="Texto simple escrito entre comillas dobles"
print(b)
b

Texto simple escrito entre comillas dobles

'Texto simple escrito entre comillas dobles'

In [18]:
c='Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'
print(c)

Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles

In [19]:
d="Texto simple escrito entre comillas dobles que necesita Q'hubo comillas simples"
print(d)

Texto simple escrito entre comillas dobles que necesita Q'hubo comillas simples

In [20]:
# Qué significa la r???
print(r'La ruta del archivo es C:\nombres\archivo.ipynb')

La ruta del archivo es C:\nombres\archivo.ipynb

In [22]:
texto="cuidado_con_el_orden"

In [23]:
print(texto[0])

c

In [24]:
texto[1]

'u'

In [27]:
print (texto[6:9])

o_c

In [28]:
texto[6:-2]

'o_con_el_ord'

## Asignaciones múltiples

In [29]:
# Asignación múltiple

w, x, y, z = "Apple", "Watermelon", "Grape", 28;

print(w);
print(x);
print(y);
print(z);
print(w,x,y,z,sep=", ");

Apple
Watermelon
Grape
28
Apple, Watermelon, Grape, 28

In [31]:
print(w);
print(x);
print(y);
print(z);
print(w,x,y,z,sep=" - ");

Apple
Watermelon
Grape
28
Apple - Watermelon - Grape - 28

In [33]:
# Asignación múltiple del mismo valor

x1 = x2 = x3 = 0.7;
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);

x1 = 0.7
x2 = 0.7
x3 = 0.7

In [41]:
x, y = 3, 10

print('(y,x)=', y, x)

(y,x)= 10 3

# Suma de Variables y concatenación de variables

Python es tan sencillo e intutivo, que es posible sumar diferentes variables y sumarlas con el símbolo +. Cuando las variables son numéricas, se suman matemáticamente y cuando es texto se concatenan.

In [42]:
#Sumar dos variables
x = "Python is ";
y = "awesome";
z =  x + y;
print(z);

# Sumar dos números

n1 = 1;
n2 = 5;
suma = n1 + n2;
print(suma);

# Escribir texto y números
print(x+"the number",n1);

Python is awesome
6
Python is the number 1

# Operadores Aritméticos y redondeo

In [44]:
5*(3-5)**2-(6)/(9**(1/2))

18.0

La división es una operación bien especial pues la mayoría de ocasiones produce un número con parte fraccionaria. Sin embargo, cuando estabamos pequeños nos enseñaron a dividir enteros dando como respuesta un entero llamado cociente y lo que hacia falta para completar la división, un número llamado residuo. En Python podemos calcular esos valores con \\ para el cociente y %para el residuo. Por ejemplo, sabemos que

In [45]:
20//3

6

In [46]:
20%3

2

In [47]:
# Recordemos un poquito de nuestras matemáticas
3+(-4)**(1/2)

(3+2j)

In [48]:
n1=47/3
n1

15.666666666666666

In [49]:
round(n1)

16

In [50]:
round(n1,4)

15.6667

In [52]:
# importando el número pi

from math import *

# visualizar pi
print(pi)

# Your code here
round(pi,7)

3.141592653589793

3.1415927

# Secuencias de Control

In [53]:
x = 1
y = 2

print(x,y)

1 2

In [54]:
# ejemplo if
x = 5
y = 2

if x>y:
    print("Five is greater than Two")
    print("lunes")

Five is greater than Two
lunes

In [56]:
# ejemplo if (para que no imprima nada)
x = 5
y = 2

if x<y:
    print("Five is greater than Two")
    print("lunes")

In [58]:
# ejemplo if
x = 5
y = 2

if x<y:
    print("Five is greater than Two")
    print("lunes")
else:
    print("Five is less or equal than Two")
    print("día diferente al lunes")

Five is less or equal than Two
día diferente al lunes

In [59]:
N='David'# cambiar 'Tu_nombre' por su verdadero nombre
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

David es un nombre muy corto

In [61]:
N='David Manuel Gómez Bolívar' #cambiar 'Tu_nombre_completo' por su verdadero nombre completo
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

David Manuel Gómez Bolívar es un nombre muy largo

In [65]:
N='El nombre David Manuel'
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep="--> ")

El nombre David Manuel--> es un nombre muy largo